# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.o
*.dylib
*.iml
tcg
test_libtransit
connectors/server-connector/server-connector
connectors/elastic-connector/elastic-connector

# Temporary files
,*

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
libtransit/libtransit.h

# Intellij
.idea

# Vendor
vendor

# NATS Datastore
datastore
integration/test_datastore/

# Compiled Go-to-C conversion tool
gotocjson/gotocjson

# Conversion tool built test artifacts
gotocjson/gotocjson/config.h
gotocjson/gotocjson/config.c
gotocjson/gotocjson/milliseconds.h
gotocjson/gotocjson/milliseconds.c
gotocjson/gotocjson/transit.h
gotocjson/gotocjson/transit.c
gotocjson/gotocjson/enum.h
gotocjson/gotocjson/enum.c
gotocjson/gotocjson/unittest

# Source and build artifacts
*.tar.gz
jansson-2.12/*

# Old location for build artfacts, ignored just for safety
local/*

# Build directory
build

# Location of installed headers, libraries, etc.
install/*

# Temp NATS store
gw-transit/natsstore/
natsstore/
