agentConfig:
  controllerAddr: ":8081"
  natsAckWait: 30
  natsMaxInflight: 2147483647 # math.MaxInt32
  natsFilestoreDir: "src/main/resources/datastore"
  natsStoreType: "FILE"
  natsHost: ":4222"
  logLevel: 2
gwConfigs:
  -
    host: "localhost:80"
    account: "RESTAPIACCESS"
    password: "***REMOVED***"
    appName: "tng"
  -
    host: "localhost:88"
    account: "RESTAPIACCESS"
    password: "***REMOVED***"
    appName: "tng"
